<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close js-topic-info-close">
            <span >&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title text_<%= fontColor %>"><%= label %></h4>
      </div>
      <div class="modal-body">
        <ul class="list-group">
            <li class="list-group-item list-group-item-heading">
                <span class="badge bg_black"><%= volume %></span>
                <span class="text_bold">total mentions</span>
            </li>
            <% _.each(sentiment, function(value, type){ %>
            <li class="list-group-item">
                <span class="badge clear_filter bg_<%= bgColors[type] %>"><%= value %></span>
                <%= type %>
            </li>
            <% }); %>
        </ul>
      </div>
    </div>
</div>
